<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">JUFLIX</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h2 id="maintitle" onclick="window.location.href='index.html'">JUFLIX</h2>
        <div class="search-bar">
            <input type="text" placeholder="영화,드라마 검색" id="searchInput">
            <button onclick="searchMovies()" class="btn">검색</button>
            <button class="btn" id = "logbtn" onclick="window.location.href='login.html'">로그인</button>
        </div>
    </header>
    
    <main>
        <section>
             
            
        </section>
    </main>

    <footer>
        <p>&copy; 2025 JUCHAN. All rights reserved.</p>
    </footer>

    <script src="slide.js"></script>
</body>
</html>
